@import 'variables';

// !important - to bootstrap style changes
.menu {
  .navbar {
    padding-left: 0;
    background-color: $color-1;

    .main-menu {
      .nav-link {
        color: $color-3 !important;
        padding-left: 16px;

        &:hover,
        &:focus {
          color: $color-4;
        }
      }

      & > .dropdown > .dropdown-menu > div {
        position: initial;
      }
    }
  }

  .dropdown-menu {
    border-radius: 0;
    margin-top: 8px !important;
    height: calc(100vh - 56px);
    padding-top: 0;
    border-top: 0;
    border-bottom: 0;

    & > div > button {
      background-color: transparent !important;
    }

    & > div > button,
      & > a {
        box-shadow: none !important;
        border-radius: 0;
        color: $color-1;
        border: none;
        transition: 0.2s all ease;
        width: 100%;
        text-align: left;
        &:after {
          display: none;
        }
      }
    & > div {
      transition: 0.2s all ease;
      &:hover,
      &:focus {
        background-color: $color-5;
      }
      &.show,
      &:active {
        color: $color-10;
        background-color: $color-2;

        & > .btn-primary.dropdown-toggle {
          border: none;
          color: $color-3;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.submenu .dropdown-menu {
  margin-top: 0 !important;
  overflow-y: auto;
  a {
    height: 36px;
    background-color: transparent;
    &:hover,
    &:focus {
      background-color: $color-5;
    }
    &.active,
    &:active {
      color: $color-10;
      background-color: $color-2;
    }
  }
}